<div class="contact">
    <div class="column">
        <div><img src="/images/phone.jpg" /></div>
        <div>
            <p>Phone</p>
            <p>+01 123-456-7890</p>
        </div>
    </div>
    <div class="column">
        <div><img src="/images/email.jpg" /></div>
        <div>
            <p>Email</p>
            <p>yourmail@gmail.com</p>
        </div>
    </div>
    <div class="column">
        <div><img src="/images/location.jpg" /></div>
        <div>
            <p>Location</p>
            <p>1000 N 4th Street, Fairfield, IA</p>
        </div>
    </div>
</div>
<div>
    <div class="footer">
        All Rights Reserved. © 2023 WAP
    </div>
</div>