<div class="center">
    <div class="header-container">
        <div class="leftHeader">
            <img src="images/logo.png" id="logo" alt="Logo" />
        </div>
        <div class="rightHeader">
            <ul class="navbar">
                <li><a href="/index" class="active">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/reservation">Reservation</a></li>
                <li><a href="/order">Order Online</a></li>
            </ul>
        </div>
    </div>
</div>