#order-container {
    width: 80%;
    margin-left: 10%;
    padding: 30px;
}

h1, h2 {
    color: #333;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    text-align: center;
}

table th, table td {
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

form input[type="text"], form input[type="tel"],form input[type="email"] {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 2.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a .bi-trash {
    font-size: larger;
}

#shipment-div {
    width: 50%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#shipment-div h2 {margin-bottom: 20px;
}

#shipment-div div {
    margin-bottom: 20px;
}

#shipment-div-container{
    padding: 10px;
}

#grandTotal::before {
    content: '$';
    font-weight: bold;
}
.price::before {
    content: '$';
}
.small-btn {
    width: 50px;
}
